@import url('https://fonts.googleapis.com/css?family=Roboto');

html,body{
/*background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');*/
background-image: url("Movie_mosaic.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Roboto';
}


		
* {
	margin:0px;
	padding:0px;
}
		
#header {
	margin:auto;
	width:auto;
	font-family:Arial, Helvetica, sans-serif;
}
		
ul, ol {
	list-style:none;
}
		
.nav > li {
	float: left;
}
		
.nav li a {
	background-color:#fff;
	color:#fc0606;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}
		
.nav li a:hover {
	background-color:#434343;
}
	
.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
}
		
.nav li:hover > ul {
	display:block;
}
		
.nav li ul li {
	position:relative;
}
		
.nav li ul li ul {
	right:-140px;
	top:0px;
}
	

.panel-default{
	position: fixed;
	top: 30%;
	left: 50%;
	height: 1000px;
	margin-top: -9em; /*set to a negative number 1/2 of your height*/
	margin-left: -43em; /*set to a negative number 1/2 of your width*/
	/*
	margin-top: auto;
	margin-bottom: auto;
	*/
	width: 1200px;
	background-color: rgba(0,0,0,0.8) !important;
	background-image: url("movies.jpg");
}