@import url('https://fonts.googleapis.com/css?family=Roboto');

html,body{
/*background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');*/
background-image: url("movie_mosaic_search.jpg");
background-size: cover;
background-repeat: repeat-y;
height: 100%;
font-family: 'Roboto';
}

* {
	margin:0px;
	padding:0px;
}
		
header {
	margin:auto;
	width:auto;
	font-family:Arial, Helvetica, sans-serif;
}
		
ul, ol {
	list-style:none;
}
		
.nav > li {
	float: left;
}
		
.nav li a {
	background-color:rgb(14, 13, 13);
	color:#fcf8f8;
	text-decoration:none;
	padding:10px 12px;
	display:block;
	margin-top: -41px;
}
		
.nav li a:hover {
	background-color:#434343;
}
	
.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
}
		
.nav li:hover > ul {
	display:block;
}
		
.nav li ul li {
	position:relative;
}
		
.nav li ul li ul {
	right:-140px;
	top:0px;
}

.column {
  float: left;
  width: 16.66%;
  padding-bottom: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}	

div.panel-default{
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 12px;
	padding-right: 5px;
	position: static;
	background-color: rgba(0,0,0,0.8) !important;
}

.poster{
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

header.top-panel{
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 12px;
	padding-right: 5px;
	position: static;
	background-color: rgba(0,0,0,0) !important;
}

/*
header.panel-default{
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	position: static;
	background-color: rgba(0,0,0,0.8) !important;
}

button#buscar{
	color: white;
	background-color: #DB202C;
}
*/