@import url('https://fonts.googleapis.com/css?family=Roboto');

html,body{
/*background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');*/
background-image: url("movie_mosaic_search.jpg");
background-size: cover;
background-repeat: repeat-y;
height: 100%;
font-family: 'Roboto';
}

/*
* {
	margin:0px;
	padding:0px;
}
*/

span#cerrar-sesion{
	margin-top: 2%;
	margin-left: 83%;
	font-size: 60px;
	color: black;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
	position: fixed;
}

p.texto-cerrar{
	font-size: large;
	color: white;
	margin-top: 0%;
	margin-left: 90%;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.img-responsive {
    margin: 0 auto;
}

h1{
	color: white;
}

h2{
	color: white;
	text-align: center;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    border-color: #FFFFFF;
    border-bottom-color: transparent;
    background-color:rgba(0,0,0,0.8) !important;
	color:#fcf8f8 !important;
}

form.container{
	width: 300px;
	padding-top: 5px;
	padding-right: 5px;
}

/*
header {
	margin:auto;
	width:auto;
*/

.nav-tabs {
    border-bottom: 0px solid rgba(0,0,0,0.4);
}

}
		
ul, ol {
	list-style:none;
}
		
.nav > li {
	float: left;
}
		
.nav li a {
	background-color:rgba(0,0,0,0.8);
	color:#fcf8f8;
	border-color: white;
	text-decoration:none;
	padding:10px 12px;
	display:block;
	margin-top: -30px;
}
		
.nav li a:hover {
	background-color:#434343;
}
	
.nav li ul {
	display:none;
	/*
	position:absolute;
	*/
	min-width:140px;
}
		
.nav li:hover > ul {
	display: inline-block;
}
		
.nav li ul li {
	position:relative;
}
		
.nav li ul li ul {
	right:-140px;
	top:0px;
}

.column {
  float: left;
  width: 16.66%;
  padding-bottom: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}	

div.panel-default{
	margin-top: 5%;
	/*
	margin-left: 5%;
	margin-right: 5%;
	*/
	padding-left: 12px;
	padding-right: 5px;
	position: static;
	background-color: rgba(0,0,0,0.8) !important;
}

.poster{
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

td{
	background-color: white;
}

figure.panel-default{
	margin-top: 2%;
	width: 30%;
	position: static;
	background-color: rgba(0,0,0,0.8) !important;
}