@import url('https://fonts.googleapis.com/css?family=Roboto');

html,body{
background-image: url("movie_mosaic_login.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Roboto';
}

.panel-default{
	position: fixed;
	top: 50%;
	left: 50%;
	height: 370px;
	width: 400px;
	margin-top: -9em;
	margin-left: -15em;
	background-color: rgba(0,0,0,0.8) !important;
}

h3#ingreso{
	color: white;
	margin-bottom: 20px;
	margin-top: -5px;
}