{% extends 'streamflix/base.html' %}

{% block head %}
	<meta charset="UTF-8">
	<title>Search Page</title>

	{% load static %}
	<!--Bootsrap 3.3.7 CDN-->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
	crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" 
	crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href='{% static "streamflix/CSS/styles_search.css" %}'>
{% endblock %}

{% block content %}

	<section class="container">

	<div class="panel panel-default">

		<section class="panel-body">
			<div class="clearfix">
				<h1>Últimos Estrenos</h1>
				<a href="{% url 'logout' %}">
					<button id="logout_alt" type="button" class="btn btn-danger">Cerrar sesión</button>
				</a>
			</div>
			<div class="row">
		{% for movie in base_movies|slice:":24" %}
			{% if forloop.counter == 3 %}
				<div class="column carousel slide" data-ride="carousel">
					<div class="carousel-inner">
					{% for film in base_movies|slice:"14:17" %}
						{% if forloop.counter == 1 %}
							<div class="item active">
						{% else %}
							<div class="item">
						{% endif %}
								<a href="{% url 'video' film.id %}">
									<img class="poster" src="{{film.Poster.url}}" title="{{film.Title}}">
								</a>
							</div>
					{% endfor %}
					</div>
				</div>
			{% elif forloop.counter == 7 %}
				<div class="column carousel slide" data-ride="carousel">
					<div class="carousel-inner">
					{% for film in base_movies|slice:"22:25" %}
						{% if forloop.counter == 1 %}
							<div class="item active">
						{% else %}
							<div class="item">
						{% endif %}
								<a href="{% url 'video' film.id %}">
									<img class="poster" src="{{film.Poster.url}}" title="{{film.Title}}">
								</a>
							</div>
					{% endfor %}
					</div>
				</div>
			{% elif forloop.counter == 11 %}
				<div class="column carousel slide" data-ride="carousel">
					<div class="carousel-inner">
					{% for film in base_movies|slice:"26:29" %}
						{% if forloop.counter == 1 %}
							<div class="item active">
						{% else %}
							<div class="item">
						{% endif %}
								<a href="{% url 'video' film.id %}">
									<img class="poster" src="{{film.Poster.url}}" title="{{film.Title}}">
								</a>
							</div>
					{% endfor %}
					</div>
				</div>
			{% elif forloop.counter == 15 %}
				<div class="column carousel slide" data-ride="carousel">
					<div class="carousel-inner">
					{% for film in base_movies|slice:"18:21" %}
						{% if forloop.counter == 1 %}
							<div class="item active">
						{% else %}
							<div class="item">
						{% endif %}
								<a href="{% url 'video' film.id %}">
									<img class="poster" src="{{film.Poster.url}}" title="{{film.Title}}">
								</a>
							</div>
					{% endfor %}
					</div>
				</div>
			{% elif forloop.counter == 19 %}
				<div class="column carousel slide" data-ride="carousel">
					<div class="carousel-inner">
					{% for film in base_movies|slice:"9:13" %}
						{% if forloop.counter == 1 %}
							<div class="item active">
						{% else %}
							<div class="item">
						{% endif %}
								<a href="{% url 'video' film.id %}">
									<img class="poster" src="{{film.Poster.url}}" title="{{film.Title}}">
								</a>
							</div>
					{% endfor %}
					</div>
				</div>
			{% elif forloop.counter == 23 %}
				<div class="column carousel slide" data-ride="carousel">
					<div class="carousel-inner">
					{% for film in base_movies|slice:"5:8" %}
						{% if forloop.counter == 1 %}
							<div class="item active">
						{% else %}
							<div class="item">
						{% endif %}
								<a href="{% url 'video' film.id %}">
									<img class="poster" src="{{film.Poster.url}}" title="{{film.Title}}">
								</a>
							</div>
					{% endfor %}
					</div>
				</div>
			{% else %}
				<div class="column">
					<a href="{% url 'video' movie.id %}">
						<img class="poster" src="{{movie.Poster.url}}" title="{{movie.Title}}">
					</a>
				</div>
			{% endif %}
		{% endfor %}
			</div>
		</section>
	</div>
	</section>

{% endblock %}

<!--
{% block search_script %}
<script src='{% static "streamflix/JS/search_script.js" %}'></script>
{% endblock %}
-->




